<!DOCTYPE html>
<html>
<head>
     {% load static %}
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <script src="{% static 'js/main.js' %}"></script>
    <title>Home</title>
</head>
<body>
        <div class="sidenav">
            <div class="myimg">
                <div class="img"></div>

            </div>
                <h2 class="name">Shikhar Shrestha</h2>
                <p class="descri">FULL STACK DEVELOPER IN NEPAL</p>

                <ul class="nav-list">
                    <li><a href="#home" class="nav-link">Home</a></li>
                    <li><a href="#about" class="nav-link">About</a></li>
                    <!-- <li><a href="/resume/" class="nav-link">Resume</a></li> -->
                    <li><a href="#skill" class="nav-link">Skills</a></li>
                    <li><a href="#service" class="nav-link">Services</a></li>
                    <li><a href="#project" class="nav-link">Projects</a></li>
                    <!-- <li><a href="#education" class="nav-link">Education</a></li> -->
                    <li><a href="#contact" class="nav-link">Contact</a></li>
                </ul>
        </div>

</body>
</html>
